<h3><code>choice</code></h3>

{{code-snippet name="guides--director--choice--yuidoc.js"}}

<p>Throughout the game, you might want to present the player with menu-style choices. These choices could range from responses in conversation to multiple choice list of destinations at a bus stop. The <code>choice</code> direction presents players with a list of choices and returns a promise containing the value of their choice. The list of choices can be navigated with <code>ArrowUp</code> and <code>ArrowDown</code> keys, and some choices can be made inputable, so that when they are clicked, they transform into input fields.</p>

{{code-snippet name="guides--director--choice--example.js"}}
