<h2><code class="inline-code">text</code></h2>

{{code-snippet name="learn--director--text--yuidoc.js"}}

<p>Characters speak and narrators narrate. In either case, words need to be written on screen. The <code class="inline-code">text</code> direction does just this. By default, the text fades in letter-by-letter, and if the text overflows the text window, it will stop writing until a key is pressed, then proceed from that point. The name of the character appears in the window alongside her text.</p>

<p>Note that you can use html tags to format your text for styling, external links, or any other form of valid html.</p>

{{code-snippet name="learn--director--text--example.js"}}

<p>There are also many special text commands documented {{#link-to "learn.text-tags"}}here{{/link-to}}, which can allow you to change the speed of your text, alter its styling, and execute many other effects.</p>

<h3>Fixture/Config Attributes</h3>

{{code-snippet name="learn--director--text--attributes.js"}}
