<div class="layout">
  <span class="layout__item u-1/5-desk"></span><div class="layout__item u-4/5-desk">
    <span class="layout__item u-3/5-lap-and-up">
      <nav>
        <ul class="tabs">
          <li class="tabs__item">
            <span class="logo">ET</span>
          </li>
          <li class="tabs__item">
            Play
          </li>
          <li class="tabs__item">
            {{#link-to "learn" class="tabs__link"}}Learn{{/link-to}}
          </li>
          <li class="tabs__item">
            Create
          </li>
          <li class="tabs__item">
            Share
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>
