<div class="row">
  <div class="top-bar-title logo center">{{#link-to "index"}}ember.theater{{/link-to}}</div>
  <div class="top-bar-left">
    <nav>
      <ul class="menu">
        <li>
          {{#link-to "index"}}Play{{/link-to}}
        </li>
        <li>
          {{#link-to "learn"}}Learn{{/link-to}}
        </li>
        <li>
          {{#link-to "create"}}Create{{/link-to}}
        </li>
        <li>
          {{#link-to "discuss"}}Discuss{{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
</div>
