$primary-color: #405952;
$neutral-color: #FFD393;
$highlight-color: #F54F29;
$semi-highlight-color: #FF974F;

$primary-font-family: Comfortaa;
$secondary-font-family: Ubuntu;
$mono-font-family: Ubuntu Mono;

$base-font-size: 22px;
$base-line-height: 36px;
