<h3><code>close</code></h3>

<p>When the <code>close</code> text tag is encountered, it closes the text. By default, it closes immediately. You can also pass in a duration that it'll wait before closing.</p>

{{code-snippet name="guides--text-tags--close-example.js"}}
