<h3><code>character</code></h3>

<p>The <code>character</code> fixture is used by the directions {{#link-to "guides.director.character"}}<code>character</code>{{/link-to}} and {{#link-to "guides.director.text"}}<code>text</code>{{/link-to}}:</p>

{{code-snippet name="guides--fixtures--character.js"}}
