<h2><code class="inline-code">instant</code></h2>

<p>When the <code class="inline-code">instant</code> text tag is encountered, it immediately displays all the following text. (No more fade-in, letter-by-letter.) You can optionally provide a closing tag, which will cause text to resume its default fade-in behavior.</p>

{{code-snippet name="learn--text-tags--instant-example.js"}}
