<h3><code>character-expression</code></h3>

<p>The <code>character-expression</code> fixture is used by the direction {{#link-to "guides.director.expression"}}<code>expression</code>{{/link-to}}:</p>

{{code-snippet name="guides--fixtures--character-expression.js"}}
