<h3><code>character</code></h3>

{{code-snippet name="guides--director--character--yuidoc.js"}}

<p>Characters bring a play to life, and in Ember Theater, they have many of the same qualities of an actor. They can speak, position themselves on stage, change their expression, and exit when their role is done. A character is an on-screen representation of an `ember-theater/character` model. By default, the <code>character</code> direction fades the character into the bottom left corner. If a character with the provided id is already present, the direction will change that character's positioning as specified. As with other on-stage element, a single character can appear multiple times if you provide an instance id.</p>

{{code-snippet name="guides--director--character--example.js"}}

<h4>Fixture/Config Attributes</h4>

{{code-snippet name="guides--director--character--attributes.js"}}
