<h1>Installation</h1>

<h2>Creating an Ember Project</h2>

<p>Before starting your first Ember Theater project, you'll need to ensure that you have Ember CLI installed. You can find an excellent guide <a href="https://learn.emberjs.com/v2.2.0/getting-started/" target="_blank">here</a>. You'll only have to go through this process once.</p>

<p>Once Ember CLI is installed, you can create as many projects as you like. To start a project, simply enter <code class="inline-code">ember new [project name]</code> in your terminal.</p>

<h2>Installing the Ember Theater addon</h2>

<p>Within your project folder, type <code class="inline-code">ember install ember-theater</code>. NPM will now start downloading Ember Theater. This can take a few minutes.</p>

<p>While the addon is installing, you can complete the next steps. First, navigate to <code class="inline-code">ember-cli-build.js</code> and modify <code class="inline-code">EmberAddon</code> to include these lines:</p>

{{code-snippet name="learn--installation--ember-cli-build.js"}}

<p>Next, go to <code class="inline-code">app/controllers/application.js</code> (if necessary, create the file) and modify it to import your Ember Theater config:</p>

{{code-snippet name="learn--installation--application.js"}}

<p>Finally, navigate to <code class="inline-code">app/templates/application.hbs</code> and enter <code class="inline-code">&#123;&#123;ember-theater config=config&#125;&#125;</code>.</p>

<h2>Using Ember Theater styles</h2>

<p>First, you'll have to make sure you're using Sass. Run <code class="inline-code">ember install ember-cli-sass</code> in your command line.</p>

<p>Next, replace <code class="inline-code">app/styles/app.css</code> with <code class="inline-code">app/styles/app.scss</code>. Inside of <code class="inline-code">app.scss</code>, simply paste:</p>

<code class="inline-code">@import "ember-theater";</code>

<h2>Running the dev environment</h2>

<p>Once you have the Ember project setup, you can start the dev environment by running <code class="inline-code">ember server</code> in your command line. After that, navigate to <a href="http://localhost:4200/" target="_blank">http://localhost:4200</a> to see the game in action.</p>
