<h2><code class="inline-code">sound</code></h2>

{{code-snippet name="learn--director--sound--yuidoc.js"}}

<p>Sounds can range from music to sound effects to voice-overs.</p>

{{code-snippet name="learn--director--sound--example.js"}}

<h3>Fixture/Config Attributes</h3>

{{code-snippet name="learn--director--sound--attributes.js"}}
