<h3><code>transitionToScene</code></h3>

{{code-snippet name="guides--director--scene--yuidoc.js"}}

<p>A scene could be anything from a conversation on the beach to visiting the store to a random battle. Scenes can be reusable or one-shots. To move from one scene to another, use the <code>transitionToScene</code> direction. Note that as soon as the scene transitions, all subsequent directions in the current scene will be aborted</p>

{{code-snippet name="guides--director--scene--example.js"}}
