<h2><code class="inline-code">effect</code></h2>

<p>When the <code class="inline-code">effect</code> text tag is encountered, it applies an animation to the text box. Note that it accepts two arguments. The first is the effect itself, while the second are options, such as duration and loop. These arguments are seperated with a pipe, <code class="inline-code">|</code>.</p>

{{code-snippet name="learn--text-tags--effect-example.js"}}
