<h3><code>expression</code></h3>

{{code-snippet name="guides--director--expression--yuidoc.js"}}

<p>Characters might have many different expressions, ranging from neutral to happy to jumping to wounded. Once the character is on stage, you can also change her expression with the <code>expression</code> direction. By default, the old expression will fade out while the new one fades in over it. You can change this effect by passing in custom <code>transitionIn</code> and <code>transitionOut</code> options.</p>

{{code-snippet name="guides--director--expression--example.js"}}

<h4>Fixture/Config Attributes</h4>

{{code-snippet name="guides--director--expression--attributes.js"}}
