<h3><code>backdrop</code></h3>

{{code-snippet name="guides--director--backdrop--yuidoc.js"}}

<p>Beaches, bedrooms, mountain vistas, and city streets. In theater, a backdrop might be a simple sheet of canvas with a location painted on it. In Ember Theater, it's actually quite similar. The <code>backdrop</code> direction will instantiate an image at the back of the screen. Subsequent uses of <code>backdrop</code> can alter that image or even instantiate additional backdrops.</p>

{{code-snippet name="guides--director--backdrop--example.js"}}

<h4>Fixture/Config Attributes</h4>

{{code-snippet name="guides--director--backdrop--attributes.js"}}
