<h2><code class="inline-code">close</code></h2>

<p>When the <code class="inline-code">close</code> text tag is encountered, it closes the text. By default, it closes immediately. You can also pass in a duration that it'll wait before closing.</p>

{{code-snippet name="learn--text-tags--close-example.js"}}
