<h2><code class="inline-code">pause</code></h2>

<p>When the <code class="inline-code">pause</code> text tag is encountered, it pauses the text. As soon as the player presses a continue key (which ever keys they press to normally advance the text), text will resume printing. It optionally accepts a duration, after which the text will resume printing automatically.</p>

{{code-snippet name="learn--text-tags--pause-example.js"}}
