<h2><code class="inline-code">expression</code></h2>

{{code-snippet name="learn--director--expression--yuidoc.js"}}

<p>Characters might have many different expressions, ranging from neutral to happy to jumping to wounded. Once the character is on stage, you can also change her expression with the <code class="inline-code">expression</code> direction. By default, the old expression will fade out while the new one fades in over it. You can change this effect by passing in custom <code class="inline-code">transitionIn</code> and <code class="inline-code">transitionOut</code> options.</p>

{{code-snippet name="learn--director--expression--example.js"}}

<h3>Fixture/Config Attributes</h3>

{{code-snippet name="learn--director--expression--attributes.js"}}
