<h2>The Producer</h2>

<h3>Overview</h3>

<p>Ember Theater wants to give you as much freedom as possible while developing your game, while still providing you with a powerful toolset. We make this possible by bundling features into high-level components, which you can then opt into. This allows you to pick, choose, and combine the right toolsets for your needs. From top to bottom, Ember Theater is highly customizable, and at the very top, the producer is responsible for managing your components.</p>

<p>To tell the producer to use a component, open <code>ember-theater/config.js</code> and add the components' path like so:</p>

{{code-snippet name="guides--producer--config.js"}}

<p>Ember Theater supports several of these packages, which are documented in detail in the {{#link-to "guides.director"}}Director{{/link-to}} and {{#link-to "guides.menu-bar"}}Menu Bar{{/link-to}} sections.</p>

<p>You can also create and use your own producer components, or utilize components that other developers have created for the community.</p>
