<p>Some games won't need to use fixtures, but most will find them useful. Fixtures are a simple way to define game objects, such as characters or backdrops. For instance, consider these character fixtures:</p>

{{code-snippet name="guides--fixtures--example-fixture.js"}}

<p>Here, two characters are defined, each with an unique <code>id</code> followed by several attributes. You'll now be able to refer to all those attributes by simply giving Ember Theater the associated <code>id</code>:</p>

{{code-snippet name="guides--fixtures--script.js"}}

<p>Since you've already defined the fixture 'bebe', Ember Theater knows that it should display her with the default expression of 'bebe-standing' and that she should be 60% of the screen's height.</p>

<p>Many Ember Theater directions have fixtures associated with them, each detailed in this section. Additionally, you can create {{#link-to "guides.fixtures.custom"}}new fixture types{{/link-to}} to go with your custom directions.</p>
