<h3><code>effect</code></h3>

<p>When the <code>effect</code> text tag is encountered, it applies an animation to the text box. Note that it accepts two arguments. The first is the effect itself, while the second are options, such as duration and loop. These arguments are seperated with a pipe, <code>|</code>.</p>

{{code-snippet name="guides--text-tags--effect-example.js"}}
