<h3><code>sound</code></h3>

{{code-snippet name="guides--director--sound--yuidoc.js"}}

<p>Sounds can range from music to sound effects to voice-overs.</p>

{{code-snippet name="guides--director--sound--example.js"}}

<h4>Fixture/Config Attributes</h4>

{{code-snippet name="guides--director--sound--attributes.js"}}
