<h3><code>backdrop</code></h3>

<p>The <code>backdrop</code> fixture is used by the comperably named direction {{#link-to "guides.director.backdrop"}}<code>backdrop</code>{{/link-to}}. It's a light-weight fixture with only a few attributes:</p>

{{code-snippet name="guides--fixtures--backdrop.js"}}
