<h2><code class="inline-code">pause</code></h2>

{{code-snippet name="learn--director--pause--yuidoc.js"}}

<p>A <code class="inline-code">pause</code> momentarily disrupts the flow of the scene, preventing future directions from carrying out. Note that if a previous direction is in the process of playing out (such as a backdrop in the process of fading in), it will continue doing so.</p>

{{code-snippet name="learn--director--pause--example.js"}}
