<h3><code>clear</code></h3>

<p>When the <code>clear</code> text tag is encountered, it clears all previous text and begins writing new text from the start of the line.</p>

{{code-snippet name="guides--text-tags--clear-example.js"}}
