@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  src: url('../fonts/comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  src: url('../fonts/comfortaa/Comfortaa-Bold.ttf');
}
