<h2><code class="inline-code">transitionToScene</code></h2>

{{code-snippet name="learn--director--scene--yuidoc.js"}}

<p>A scene could be anything from a conversation on the beach to visiting the store to a random battle. Scenes can be reusable or one-shots. To move from one scene to another, use the <code class="inline-code">transitionToScene</code> direction. Note that as soon as the scene transitions, all subsequent directions in the current scene will be aborted</p>

{{code-snippet name="learn--director--scene--example.js"}}
