<h3><code>sound</code></h3>

<p>The <code>sound</code> fixture is used by the direction {{#link-to "guides.director.sound"}}<code>sound</code>{{/link-to}}:</p>

{{code-snippet name="guides--fixtures--sound.js"}}
