<h2><code class="inline-code">clear</code></h2>

<p>When the <code class="inline-code">clear</code> text tag is encountered, it clears all previous text and begins writing new text from the start of the line.</p>

{{code-snippet name="learn--text-tags--clear-example.js"}}
