<h2><code class="inline-code">speed</code></h2>

<p>When the <code class="inline-code">speed</code> text tag is encountered, it changes the rate at which letters are printed. If the provided speed starts with a '*', it'll multiply the speed by the following number. Note that lower numbers are faster, so multiply by a fraction (eg, `0.5`) to make the text go faster.</p>

{{code-snippet name="learn--text-tags--speed-example.js"}}
