<h2><code class="inline-code">animate</code></h2>

<p>When the <code class="inline-code">animate</code> text tag is encountered, it changes the way new characters fade in.</p>

{{code-snippet name="learn--text-tags--animate-example.js"}}
