{{learn-sidebar classNames="show-for-medium medium-2 columns"}}
{{#mobile-dropdown title="Table of Contents"}}
  {{learn-sidebar}}
{{/mobile-dropdown}}
<main class="medium-10 columns">
  {{outlet}}
</main>
