{{learn-sidebar classNames="show-for-medium medium-3 columns"}}
{{#mobile-dropdown title="Table of Contents"}}
  {{learn-sidebar}}
{{/mobile-dropdown}}
<main class="medium-9 columns">
  {{liquid-outlet}}
</main>
